.form-container{
    width: 70%;
    /* border: 1px solid rgb(11, 11, 11); */
    
}

.template-form{
    margin: 0 auto;
    margin-bottom: 50px;

    width: 500px;
    padding: 5px;
    border-radius: 10px;

    background-image: url(../img/form/space-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.form-row label{
    font-size: 25px;
    color: bisque;
}

.form-row input{
    font-size: 20px;
    opacity: 0.5;
}

.form-row input:hover{    
    background-color: yellow;
}

.form-row input:focus{    
    background-color: brown;
}

.form-row input:active{    
    background-color: rgb(42, 165, 61);
}



.form-row .submit{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 82%;
    background-color: orange;
    border-radius: 25px;
    color: rgb(159, 10, 10);
    font-weight: bold;
}

.form-row .closed{
    display: block;
    position: relative;
    top: 0;
    left: 380px;
    
    font-weight: bold;
    background-color: aquamarine;
}

.form-row label{
    display: block;

}

.nice-select{
    background-color: rgb(153, 211, 18);
    border-radius: 20px;
}

.nice-select,
.nice-select:active,
.nice-select.open,
.nice-select:focus{
    width: 35%;
}

.nice-select .option.selected{
    font-style: italic;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus{
    background-color: blue;
}

.nice-select .option.focus{
    background-color: rgb(18, 173, 18);
}


.nice-select .list{
    background-color: rgb(18, 173, 18);
    position: static;
    border: 3px solid black;
    margin-top: 35px;
    
}


/* Form-2_______________ */

.form-input{
    width: 50%;
    min-width: 460px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;

    background: url(/img/form/form-2-bkground.jpg) center repeat;
    background-attachment: fixed;    
}

h5{
    font-weight: bold;
}

.form-item label{
    font-weight: bold;
    font-style: italic;
}

/* .form-item input{
    width: 100%;
} */

.form-item input:hover{
    background-color: aqua;
}

.form-item input:focus{
    background-color: rgb(31, 185, 25);
}

.form-item input:active{
    background-color: rgb(119, 5, 85);
}

.form-item .submit{
    display: block;
    background-color: rgb(162, 188, 33);

    width: 50%;
    margin: 10px auto;
}

.form-item .reset{
    display: block;
    background-color: rgb(240, 11, 56);

    width: 30%;
    margin: 0 auto;
}

.form-item .radio{
    width: fit-content;
    margin: 0 auto;
}

.form-item .color{
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 50%;

    border: 5px solid black;
    overflow: hidden;
}